<template>
  <div class="input">
    <v-text-field v-bind="$props"
      v-on="inputListeners"
      clearable
      outlined>
      
      <template v-slot:prepend-inner>
        <div class="d-flex">
          <v-icon @click.native="$emit('copy:action')"
            v-text="$props.prependInner[0]" />
          <v-icon @click.native="$emit('paste:action')"
            v-text="$props.prependInner[1]" />
        </div>
      </template>

      <template v-slot:append>
        {{$props.append}}
      </template>

    </v-text-field>
  </div>
</template>

<script>
export default {
  name: 'Input',
  props: {
    append: {
      type: String
    },
    prependInner: {
      type: [String, Array]
    },
    value: {
      type: String
    }
  },
  computed: {
    inputListeners: function () {
      var vm = this
      return Object.assign({},
        this.$listeners,
        {
          input: function ($event) {
            vm.$emit('input:action', $event)
          }
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
  .input {
    // ..
    width: 240px;
    ::v-deep .v-input {
      &__prepend-inner {
        cursor: pointer;
      }
      &__append-inner {
        &:last-child {
          margin-top: 20px !important;
        }
      }
    }
  }
</style>