<template>
  <v-app>
    <v-main class="align-center align-self-center">
      <Input v-bind="inputCfg"
        :value="currency"
        @copy:action="copy"
        @paste:action="paste"
        @input:action="updateCurrency" />
        {{notFormatNumber(currency)}}
    </v-main>
  </v-app>
</template>

<script>
import Input from '@/components/input';

export default {
  name: 'App',
  components: {
    Input,
  },
  data: () => ({
    inputCfg: {
      append: 'USD',
      prependInner: ['mdi-content-copy', 'mdi-content-paste']
    },
    currency: ''
  }),
  methods: {
    copy() {
      this.$copyText(this.currency)
    },
    paste() {
      navigator.clipboard.readText().then(clipText =>
        this.currency = clipText);
    },
    updateCurrency($event) {
      this.$set(this.$data, 'currency', $event) 
    },
    notFormatNumber(number) {
      const n = (number) ? number.replace(',', '.') : null
      return (!n) ? 0 : parseFloat(n) * 100
    }
  }
};
</script>


<style lang="scss" scoped>
  .app {
    // ..
  }
</style>